<!DOCTYPE html>
<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no">
<title>apricot - login</title>
<style>{{CSS}}</style>
</head><body>
<div class="login-shell">
  <div class="login-card">
    <h3>Web Login</h3>
    {{ERROR}}
    <form action="{{ACTION_URL}}" method="POST" class="login-form">
      <input type="password" name="password" class="login-input" autocomplete="current-password">
      <input type="submit" value="Login" class="submit-button login-button">
    </form>
  </div>
</div>
</body></html>
